@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html, body {
    max-width: 1440px;
    height: 100vh;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

.description {
    display: block;
    width: 100%;
    height: 367px;
    color: #4a1d1f;
    padding-top: 30px;
}

.baking-left h2, 
.baking-right h2 {
    font-size: 33pt;
    font-weight: 500;
    font-style: normal;
}

.baking-left h3, 
.baking-right h3 {
    font-size: 15pt;
    font-weight: 500;
    font-style: normal;
    color: rgb(58, 58, 58);
    padding-top: 20px;
}

.baking-left {
    padding-left: 90px;
    padding-top: 30px;
}

.baking-right {
    padding-right: 50px;
    padding-top: 210px;
}

.baking-right h2 {
    padding-left: 100px;
}

.baking-right h3 {
    padding-right: 10px;
}

button.read-more {
    border-radius: 3px;
    font-size: 15pt;
    margin-top: 40px;
    border: none;
    color: #4a1d1f;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    background: none;
}

#first-pic {
    display: block;
    float: right;
    margin-left: 20px;
    margin-right: 70px;
}

#second-pic {
    display: block;
    float: left;
    margin-left: 80px;
    margin-right: 27px;
    margin-bottom: 50px;
    margin-top: 160px;
}

.second-bottom {
    display: flex;
    width: 100%;
    height: 367px;
    justify-content: space-between;
    align-items:flex-start;
    background-color: #fbedcd;
}

.read-more{
    color: #4a1d1f;
}

.second-bottom {
    display: block;
    text-align: center;
}

.bigger-letter {
    padding-top: 73px;
    padding-bottom: 20px;
    font-size: 27pt;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing : -1px;
    color: #4a1d1f;
}

.smaller-letter {
    font-size: 15pt;
    line-height: 1.7;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: rgb(58, 58, 58);
}

.contact-us{
    width: 201px;
    height: 56px;
    margin-top: 30px;
    background: #4a1d1f;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 13pt;
    border-radius: 5px;
}

.quote-button {
    padding: 3px 7px 3px 7px;
    font-size: 9pt;
    border-radius: 15px;
    color: #4a1d1f;
    background-color: #fbedcd;
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 40px;
    margin-bottom: 20px;
}

.description {
    width: 100%;
    height: 1022px;
}

.background-left {
    position: absolute;
    top: 23%;
    left: 18%;
    transform: translate(-50%, -50%);
    opacity: 1; 
    pointer-events: none; /*to ensure the image doesn't interfere with text interaction */
    z-index: 1;
}

.background-right {
    position: absolute;
    top: 45%;
    right: 9%;
    transform: translate(-50%, -50%);
    opacity: 1; 
    pointer-events: none; 
    z-index: 1;
}

.quote-section {
    width: 100%;
    height: 682px;
    text-align: center;
    padding: 50px 20px;
    background-color: #fff;
    position: relative;
}

.quote-section h2 {
    color: #333;
    font-size: 38pt;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: -1.5px;
    position: relative;
    z-index: 2; /* Set z-index higher than the image */
    background: none; /* Ensure no background color is set */
}

.quote-ceo {
    text-align: center;
    margin: 70px 0;
}

.quote-ceo img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
}

.quote-ceo h3 {
    font-size: 19pt;
    color: #6e3838;
    margin: 10px 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -1.5;
}

.quote-ceo p {
    font-size: 13pt;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(58, 58, 58);
}

.quote-nav ul {
    list-style: none; 
    padding: 0;
    margin-top: 30px;
    display: flex; 
    gap: 10px; 
    justify-content: center;
}

.quote-nav ul li {
    display: inline-block;
}

.quote-nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px; /* 원하는 크기로 조정 */
    height: 24px; /* 원하는 크기로 조정 */
}

.quote-nav img {
    width: 12px;
    height: 12px;
}


footer {
    background-color: #fbedcd;
    height: 380px;
}

footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 20px 40px;
}

footer .company {
    font-size: 24pt;
    color: #6e3838;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1.8pt;
    padding-left: 90px;
    padding-top: 80px;
}

footer nav ul {
    display: flex;
    gap: 45px;
    padding-top: 80px;
    padding-right: 80px;
}

footer nav ul li {
    list-style: none;
}

footer nav ul li a {
    text-decoration: none;
    color: rgb(58, 58, 58);
    font-size: 15pt;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -0.5pt;
}

hr {
    width: 1440px;
    border-top: 1px solid #ddd;
    margin-top: 20px 0;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom p {
    color: rgb(58, 58, 58);
    padding-left: 130px;
    padding-top: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

footer .sns-links {
    display: flex;
    gap: 30px;
    display: flex;
    padding-top: 50px;
    padding-right: 160px;
}

