@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

html, body {
    max-width: 1440px;
    height: 100vh;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    height: 75px;
    padding:0 26px;
    border-bottom: 1px solid rgba(86, 178, 128, 0.2);
}

#navbar h1 {
    width: 186px;
    height: 45px;
    font-size: 30px;
    letter-spacing: 9%;
    margin:0;
    padding:0;
    color: #4A1D1F;
}
#navbar ul {
    display: flex;
    gap:46px;
    font-size:16px;
}
#navbar .user {
    display: flex;
    align-items: center;
    gap:24px
}
#navbar .user .search {
    display: flex;
}
#navbar .user .search input {
    width: 251px;
    height: 45px;
    margin:0;
    border: 1px solid #4A1D1F;
    padding:0 24px;
}
#navbar .user .search .search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width:45px;
    height: 45px;
    background-color: #4A1D1F;
}
#navbar .user .search .search-button img {
    width: 19px;
    height: 19px;
}
#navbar .user .user-i {
    width: 34px;
    height: 34px;
}
#navbar .user-i {
    width: 29px;
    height: 28px;
}

main {
    display: flex;
    position: relative;
    justify-content: space-between;
}
main .slide {
    position: absolute;
    bottom:0;
    right: 0;
}
